%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% Check required ERTS or OTP release version
{require_otp_vsn, "17"}.

%% Enable validation of the OTP app module list. Default is 'true'
{validate_app_modules, true}.

%% Compiler options
{erl_opts, [{parse_transform, lager_transform}]}.

%% == Dependencies ==
%%
%% @TODO: Once Hibari v0.1.11 is released, replate {branch, "dev"}
%%        with {tag, "v0.1.11"}.
%%
{deps, [{lager, ".*",
         {git, "git://github.com/hibari/lager.git", {branch, "dev"}}},
        {gmt_util, ".*",
         {git, "git://github.com/hibari/gmt-util.git", {branch, "dev"}}},
        {cluster_info, ".*",
         {git, "git://github.com/hibari/cluster-info.git", {branch, "dev"}}},
        {congestion_watcher, ".*",
         {git, "git://github.com/hibari/congestion-watcher.git", {branch, "dev"}}},
        {partition_detector, ".*",
         {git, "git://github.com/hibari/partition-detector.git", {branch, "dev"}}},
        {qc, ".*",
         {git, "git://github.com/hibari/qc.git", {branch, "dev"}}},
        {gdss_brick, ".*",
         {git, "git://github.com/hibari/gdss-brick.git", {branch, "dev"}}},
        {gdss_client, ".*",
         {git, "git://github.com/hibari/gdss-client.git", {branch, "dev"}}},
        {gdss_admin, ".*",
         {git, "git://github.com/hibari/gdss-admin.git", {branch, "dev"}}}
       ]}.
