%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% Check required ERTS or OTP release version
{require_otp_vsn, "17"}.

%% Enable validation of the OTP app module list. Default is 'true'
{validate_app_modules, true}.

%% == Dependencies ==
{deps, [{gmt_util, "0.1.7.1",
         {git, "git://github.com/hibari/gmt-util.git", {branch, "release-0.1.11"}}},
        {riak_err, "1.0.1.hibari.1",
         {git, "git://github.com/hibari/riak_err.git", {branch, "release-0.1.11"}}},
        {cluster_info, "0.1.1.1",
         {git, "git://github.com/hibari/cluster-info.git", {branch, "release-0.1.11"}}},
        {congestion_watcher, "0.1.1.1",
         {git, "git://github.com/hibari/congestion-watcher.git", {branch, "release-0.1.11"}}},
        {partition_detector, "0.1.3.1",
         {git, "git://github.com/hibari/partition-detector.git", {branch, "release-0.1.11"}}},
        {gdss_brick, "0.1.6.1",
         {git, "git://github.com/hibari/gdss-brick.git", {branch, "release-0.1.11"}}},
        {gdss_client, "0.1.6.1",
         {git, "git://github.com/hibari/gdss-client.git", {branch, "release-0.1.11"}}},
        {gdss_admin, "0.1.6.1",
         {git, "git://github.com/hibari/gdss-admin.git", {branch, "release-0.1.11"}}}
       ]}.
